@{

    ViewData["Title"] = ViewBag.currency.name;

}
<h1 class="text-center">@ViewBag.currency.name (@ViewBag.currency.symbol)</h1>

<div class="currency_table">
    <table class="table" id="table">

        <tbody>

            <tr>
                <td>volume</td>
                <td>@ViewBag.currency.volumeUsd24Hr</td>
                <td>quantity of trading volume represented in USD over the last 24 hours</td>
            </tr>
            <tr>
                <td>price</td>
                <td>@ViewBag.currency.priceUsd $</td>
                <td>weighted price based on real-time market data, translated to USD</td>
            </tr>
            <tr>
                <td>changePercent24Hr</td>
                <td>@ViewBag.currency.changePercent24Hr</td>
                <td>the direction and value change in the last 24 hours</td>
            </tr>
            <tr>
                <td>vwap24Hr</td>
                <td>@ViewBag.currency.vwap24Hr</td>
                <td>Volume Weighted Average Price in the last 24 hours</td>

            </tr>
        </tbody>
    </table>
</div>

<h2 class="text-center mt-2">Markets</h2>
<div class="top_currencies_list mb-4">
    @foreach (var exchange in ViewBag.exchanges)
    {

        var i = 0;
        foreach (var item in ViewBag.markets)
        {
            if (item.exchangeId == exchange.name && i < 1)
            {
                if (exchange.name == "Zaif")
                {
                    i++;
                    <div class="top_currency">
                        <div class="card" id="card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title mb-2">@exchange.name</h5>
                                <p class="card-text mb-0">Price:</p>
                                <p class="card-text mb-0"> @item.priceUsd  $</p>
                                <a class="btn btn-primary mt-2" href="https://zaif.jp/instant_exchange/currency#@ViewBag.currency.symbol" target="_blank">See more</a>
                            </div>
                        </div>
                    </div>

                }
                else if (exchange.name == "Binance")
                {
                    i++;

                    <div class="top_currency">
                        <div class="card" id="card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title mb-2">@exchange.name</h5>
                                <p class="card-text mb-0">Price:</p>
                                <p class="card-text mb-0"> @item.priceUsd  $</p>
                                <a class="btn btn-primary mt-2" href="https://p2p.binance.com/en/trade/all-payments/@ViewBag.currency.symbol?fiat=CNY" target="_blank">See more</a>
                            </div>
                        </div>
                    </div>
                }
                else if (exchange.name == "WhiteBIT")
                {
                    i++;
                    <div class="top_currency">
                        <div class="card" id="card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title mb-2">@exchange.name</h5>
                                <p class="card-text mb-0">Price:</p>
                                <p class="card-text mb-0"> @item.priceUsd  $</p>
                                <a class="btn btn-primary mt-2" href="https://whitebit.com/ua/trade/@ViewBag.currency.symbol-USDT" target="_blank">See more</a>
                            </div>
                        </div>
                    </div>

                }
                else if (exchange.name == "LBank")
                {
                    i++;
                    <div class="top_currency">
                        <div class="card" id="card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title mb-2">@exchange.name</h5>
                                <p class="card-text mb-0">Price:</p>
                                <p class="card-text mb-0"> @item.priceUsd  $</p>
                                <a class="btn btn-primary mt-2" href="https://www.lbank.info/trade.html#/buy" target="_blank">See more</a>
                            </div>
                        </div>
                    </div>

                }
                else if (exchange.name == "Bkex")
                {
                    i++;

                    <div class="top_currency">
                        <div class="card" id="card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title mb-2">@exchange.name</h5>
                                <p class="card-text mb-0">Price:</p>
                                <p class="card-text mb-0"> @item.priceUsd  $</p>
                                <a class="btn btn-primary mt-2" href="https://c2c.bkex.com/c2c/repidBuy?direction=B&currencyCoins=THB&coinType=USDT&repidMoney=&buyState=1" target="_blank">See more</a>
                            </div>
                        </div>
                    </div>
                }
                else if (exchange.name == "DigiFinex")
                {
                    i++;

                    <div class="top_currency">
                        <div class="card" id="card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title mb-2">@exchange.name</h5>
                                <p class="card-text mb-0">Price:</p>
                                <p class="card-text mb-0"> @item.priceUsd  $</p>
                                <a class="btn btn-primary mt-2" href="https://www.digifinex.com/en-ww/trade/USDT/@ViewBag.currency.symbol" target="_blank">See more</a>
                            </div>
                        </div>
                    </div>
                }
                else if (exchange.name == "Huobi")
                {
                    i++;
                    <div class="top_currency">
                        <div class="card" id="card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title mb-2">@exchange.name</h5>
                                <p class="card-text mb-0">Price:</p>
                                <p class="card-text mb-0"> @item.priceUsd  $</p>
                                <a class="btn btn-primary mt-2" href="https://c2c.hbg.com/en-us/trade/buy-@ViewBag.currency.symbol.ToLower()/" target="_blank">See more</a>
                            </div>
                        </div>
                    </div>

                }
                else if (exchange.name == "CoinTiger")
                {
                    i++;
                    <div class="top_currency">
                        <div class="card" id="card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title mb-2">@exchange.name</h5>
                                <p class="card-text mb-0">Price:</p>
                                <p class="card-text mb-0"> @item.priceUsd  $</p>
                                <a class="btn btn-primary mt-2" href="https://www.cointiger.com/en-us/#/trade_center?coin=@ViewBag.currency.symbol.ToLower()_usdt/" target="_blank">See more</a>
                            </div>
                        </div>
                    </div>

                }
                else if (exchange.name == "Coinbase Pro")
                {
                    i++;
                    var name = ViewBag.currency.name;

                    if (name.Contains(' '))
                    {
                        name = name.Replace(' ', '-');
                    }
                    if (name.Contains('.'))
                    {
                        name = name.Replace('.', '-');
                    }

                    <div class="top_currency">
                        <div class="card" id="card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title mb-2">@exchange.name</h5>
                                <p class="card-text mb-0">Price:</p>
                                <p class="card-text mb-0"> @item.priceUsd  $</p>
                                <a class="btn btn-primary mt-2" href="https://www.coinbase.com/price/@name.ToLower()/" target="_blank">See more</a>
                            </div>
                        </div>
                    </div>

                }
                else if (exchange.name == "HitBTC")
                {
                    i++;
                    <div class="top_currency">
                        <div class="card" id="card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title mb-2">@exchange.name</h5>
                                <p class="card-text mb-0">Price:</p>
                                <p class="card-text mb-0"> @item.priceUsd  $</p>
                                <a class="btn btn-primary mt-2" href="https://hitbtc.com/@ViewBag.currency.symbol-to-usdt" target="_blank">See more</a>
                            </div>
                        </div>
                    </div>

                }
                else if (exchange.name == "Uniswap (V3)")
                {
                    i++;
                    <div class="top_currency">
                        <div class="card" id="card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title mb-2">@exchange.name</h5>
                                <p class="card-text mb-0">Price:</p>
                                <p class="card-text mb-0"> @item.priceUsd  $</p>
                                <a class="btn btn-primary mt-2" href="https://app.uniswap.org/#/swap?chain=mainnet" target="_blank">See more</a>
                            </div>
                        </div>
                    </div>

                }
                else if (exchange.name == "Kraken")
                {
                    i++;
                    <div class="top_currency">
                        <div class="card" id="card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title mb-2">@exchange.name</h5>
                                <p class="card-text mb-0">Price:</p>
                                <p class="card-text mb-0"> @item.priceUsd  $</p>
                                <a class="btn btn-primary mt-2" href="https://www.kraken.com/u/instant?receive=@ViewBag.currency.symbol" target="_blank">See more</a>
                            </div>
                        </div>
                    </div>

                }
                else if (exchange.name == "SushiSwap")
                {
                    i++;
                    <div class="top_currency">
                        <div class="card" id="card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title mb-2">@exchange.name</h5>
                                <p class="card-text mb-0">Price:</p>
                                <p class="card-text mb-0"> @item.priceUsd  $</p>
                                <a class="btn btn-primary mt-2" href="https://app.sushi.com/swap?inputCurrency=@ViewBag.currency.symbol&outputCurrency=0x6B3595068778DD592e39A122f4f5a5cF09C90fE2" target="_blank">See more</a>
                            </div>
                        </div>
                    </div>

                }
                else if (exchange.name == "Uniswap (V2)")
                {
                    i++; continue;
                }
                else if (exchange.name == "Crypto.com Exchange")
                {
                    i++; continue;
                }
                else if (exchange.name == "Kucoin")
                {
                    i++; continue;
                }

                else if (exchange.name == "AscendEX (Bitmax)")
                {
                    i++; continue;

                }
                else if (exchange.name == "Gate")
                {
                    i++;
                    <div class="top_currency">
                        <div class="card" id="card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title mb-2">@exchange.name</h5>
                                <p class="card-text mb-0">Price:</p>
                                <p class="card-text mb-0"> @item.priceUsd  $</p>
                                <a class="btn btn-primary mt-2" href="https://www.gate.io/buy_crypto" target="_blank">See more</a>
                            </div>
                        </div>
                    </div>

                }
                else if (exchange.name == "ZB")
                {
                    var location = ViewBag.currency.symbol + "_usdt";
                    i++;
                    <div class="top_currency">
                        <div class="card" id="card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title mb-2">@exchange.name</h5>
                                <p class="card-text mb-0">Price:</p>
                                <p class="card-text mb-0"> @item.priceUsd  $</p>
                                <a class="btn btn-primary mt-2" href="https://www.zb.com/en/trade/@location" target="_blank">See more</a>
                            </div>
                        </div>
                    </div>

                }
                else if (exchange.name == "BigONE")
                {
                    i++;
                    <div class="top_currency">
                        <div class="card" id="card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title mb-2">@exchange.name</h5>
                                <p class="card-text mb-0">Price:</p>
                                <p class="card-text mb-0"> @item.priceUsd  $</p>
                                <a class="btn btn-primary mt-2" href="https://big.one/en/trade/@ViewBag.currency.symbol-USDT" target="_blank">See more</a>
                            </div>
                        </div>
                    </div>

                }
                else if (exchange.name == "Bitstamp")
                {
                    i++;
                    <div class="top_currency">
                        <div class="card" id="card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title mb-2">@exchange.name</h5>
                                <p class="card-text mb-0">Price:</p>
                                <p class="card-text mb-0"> @item.priceUsd  $</p>
                                <a class="btn btn-primary mt-2" href="https://www.bitstamp.net/markets/@ViewBag.currency.symbol.ToLower()/usd/" target="_blank">See more</a>
                            </div>
                        </div>
                    </div>

                }
                else if (exchange.name == "Binance.US")
                {
                    i++; continue;

                }
                else if (exchange.name == "Hotbit")
                {
                    i++; continue;

                }
                else if (exchange.name == "THORChain")
                {
                    i++;
                    <div class="top_currency">
                        <div class="card" id="card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title mb-2">@exchange.name</h5>
                                <p class="card-text mb-0">Price:</p>
                                <p class="card-text mb-0"> @item.priceUsd  $</p>
                                <a class="btn btn-primary mt-2" href="https://app.thorswap.finance/swap" target="_blank">See more</a>
                            </div>
                        </div>
                    </div>

                }
                else if (exchange.name == "Dex-Trade")
                {
                    var location = ViewBag.currency.symbol + "USDT";
                    i++;
                    <div class="top_currency">
                        <div class="card" id="card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title mb-2">@exchange.name</h5>
                                <p class="card-text mb-0">Price:</p>
                                <p class="card-text mb-0"> @item.priceUsd  $</p>
                                <a class="btn btn-primary mt-2" href="https://dex-trade.com/spot/trading/@location" target="_blank">See more</a>
                            </div>
                        </div>
                    </div>

                }
                else if (exchange.name == "Indodax")
                {
                    var location = ViewBag.currency.symbol + "IDR";
                    i++;
                    <div class="top_currency">
                        <div class="card" id="card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title mb-2">@exchange.name</h5>
                                <p class="card-text mb-0">Price:</p>
                                <p class="card-text mb-0"> @item.priceUsd  $</p>
                                <a class="btn btn-primary mt-2" href="https://indodax.com/market/@location" target="_blank">See more</a>
                            </div>
                        </div>
                    </div>

                }
                else if (exchange.name == "CoinEx")
                {

                    i++;
                    <div class="top_currency">
                        <div class="card" id="card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title mb-2">@exchange.name</h5>
                                <p class="card-text mb-0">Price:</p>
                                <p class="card-text mb-0"> @item.priceUsd  $</p>
                                <a class="btn btn-primary mt-2" href="https://www.coinex.com/info/@ViewBag.currency.symbol" target="_blank">See more</a>
                            </div>
                        </div>
                    </div>

                }
                else if (exchange.name == "Poloniex")
                {

                    i++;
                    <div class="top_currency">
                        <div class="card" id="card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title mb-2">@exchange.name</h5>
                                <p class="card-text mb-0">Price:</p>
                                <p class="card-text mb-0"> @item.priceUsd  $</p>
                                <a class="btn btn-primary mt-2" href="https://poloniex.com/cards/buy/" target="_blank">See more</a>
                            </div>
                        </div>
                    </div>

                }
                else if (exchange.name == "Bitkub")
                {

                    i++;
                    <div class="top_currency">
                        <div class="card" id="card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title mb-2">@exchange.name</h5>
                                <p class="card-text mb-0">Price:</p>
                                <p class="card-text mb-0"> @item.priceUsd  $</p>
                                <a class="btn btn-primary mt-2" href="https://www.bitkub.com/market/@ViewBag.currency.symbol" target="_blank">See more</a>
                            </div>
                        </div>
                    </div>

                }
                else if (exchange.name == "Exmo")
                {

                    i++;
                    <div class="top_currency">
                        <div class="card" id="card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title mb-2">@exchange.name</h5>
                                <p class="card-text mb-0">Price:</p>
                                <p class="card-text mb-0"> @item.priceUsd  $</p>
                                <a class="btn btn-primary mt-2" href="https://exmo.com/buy-crypto" target="_blank">See more</a>
                            </div>
                        </div>
                    </div>

                }
                else if (exchange.name == "Bittrex")
                {

                    i++; continue;

                }
                else if (exchange.name == "Bibox")
                {

                    i++;
                    <div class="top_currency">
                        <div class="card" id="card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title mb-2">@exchange.name</h5>
                                <p class="card-text mb-0">Price:</p>
                                <p class="card-text mb-0"> @item.priceUsd  $</p>
                                <a class="btn btn-primary mt-2" href="https://www.bibox.com/en/otc" target="_blank">See more</a>
                            </div>
                        </div>
                    </div>

                }
                else if (exchange.name == "BTCTurk")
                {

                    i++; continue;

                }
                else if (exchange.name == "ExMarkets")
                {

                    i++;
                    <div class="top_currency">
                        <div class="card" id="card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title mb-2">@exchange.name</h5>
                                <p class="card-text mb-0">Price:</p>
                                <p class="card-text mb-0"> @item.priceUsd  $</p>
                                <a class="btn btn-primary mt-2" href="https://exmarkets.com/trade/@ViewBag.currency.symbol.ToLower()-usdt" target="_blank">See more</a>
                            </div>
                        </div>
                    </div>

                }
                else if (exchange.name == "Bitfinex")
                {

                    i++; continue;

                }
                else if (exchange.name == "Quoine")
                {

                    i++; continue;

                }
                else if (exchange.name == "Mercatox")
                {

                    i++;
                    <div class="top_currency">
                        <div class="card" id="card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title mb-2">@exchange.name</h5>
                                <p class="card-text mb-0">Price:</p>
                                <p class="card-text mb-0"> @item.priceUsd  $</p>
                                <a class="btn btn-primary mt-2" href="https://mercatox.com/exchange/@ViewBag.currency.symbol/BTC" target="_blank">See more</a>
                            </div>
                        </div>
                    </div>

                }
                else if (exchange.name == "Liquid")
                {

                    i++;
                    <div class="top_currency">
                        <div class="card" id="card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title mb-2">@exchange.name</h5>
                                <p class="card-text mb-0">Price:</p>
                                <p class="card-text mb-0"> @item.priceUsd  $</p>
                                <a class="btn btn-primary mt-2" href="https://www.liquid.com/quick-exchange/" target="_blank">See more</a>
                            </div>
                        </div>
                    </div>

                }
                else if (exchange.name == "ProBit")
                {

                    i++;
                    <div class="top_currency">
                        <div class="card" id="card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title mb-2">@exchange.name</h5>
                                <p class="card-text mb-0">Price:</p>
                                <p class="card-text mb-0"> @item.priceUsd  $</p>
                                <a class="btn btn-primary mt-2" href="https://www.probit.com/app/exchange/@ViewBag.currency.symbol-USDT" target="_blank">See more</a>
                            </div>
                        </div>
                    </div>

                }
                else
                {
                    i++;
                    <div class="top_currency">
                        <div class="card" id="card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title mb-2">@exchange.name</h5>
                                <p class="card-text mb-0">Price:</p>
                                <p class="card-text mb-0"> @item.priceUsd  $</p>
                                <a class="btn btn-primary mt-2" href="@exchange.exchangeUrl" target="_blank">See more</a>
                            </div>
                        </div>
                    </div>

                }



            }
        }

    }
</div>
<div id="container" class="border-top" style="height:500px"></div>
<script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-core.min.js"></script>
<script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-cartesian.min.js"></script>



<script>
    var check = sessionStorage.getItem("darkmode");

    var chart = anychart.line(@Html.Raw(ViewBag.history));
    chart.title("@ViewBag.currency.name price history ");
    var xAxis = chart.xAxis();
    xAxis.title("Date");
    var yAxis = chart.yAxis();
    yAxis.title("Price, $");
    chart.container("container");
    if (check == "true") {
        chart.background().fill("#191F2B");
    }
    chart.draw();


    document.getElementById("flexSwitchCheckDefault").addEventListener('change', function() {
        document.getElementById("container").innerHTML = "";

        if (document.getElementById("flexSwitchCheckDefault").checked) {
            var check = true;
        } else {
            var check = false;
        }
        var chart = anychart.line(@Html.Raw(ViewBag.history));
        chart.title("@ViewBag.currency.name price history ");
        var xAxis = chart.xAxis();
        xAxis.title("Date");
        var yAxis = chart.yAxis();
        yAxis.title("Price, $");
        chart.container("container");
        if (check) {
            chart.background().fill("#191F2B");
        } else {
            chart.background().fill("white");
        }
        chart.draw();
    });


</script>
