

@{
    ViewData["Title"] = "Home Page";


}
@using Microsoft.AspNetCore.Mvc.Localization
 
@inject IViewLocalizer Localizer
 




<div class="container text-center mt-3">
    <h1 class="display-4">@Localizer["Header_Currency"]</h1>
    <div class="top_currencies_list">

        @foreach (var item in ViewBag.allCurrencies)
        {
            if (item.rank == 11)
            {
                break;
            }
            <div class="top_currency">
                <div class="card" id="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title mb-2">@item.name</h5>
                        <p class="card-text mb-0">@Localizer["Price"]:</p>
                        <p class="card-text mb-0"> @item.priceUsd  $</p>
                        <a class="btn btn-primary mt-2" href="Home/Currency/@item.id">@Localizer["See_More"]</a>
                    </div>
                </div>
            </div>
        }
    </div>
    <h1 class="display-4 mt-3">@Localizer["Main_Currency"]</h1>
    <ul class="top_currencies_list">
        @foreach (var item in ViewBag.allCurrencies)
        {
            <li class="currency">
                <a class="currency_link" href="Home/Currency/@item.id">@item.name</a>
            </li>
        }
    </ul>
</div>
